body {
	background-color;Indigo
     
     }

#name {
	padding: 20px;
	border: grey;
	box-shadow: inset 10px 10px 5px 5px #888888
   }
	     
.text { 
	padding: 10px;
	border: skyblue;
	border-width: 2px;
      }

	
